body {
    background: url(./michael-rivera-DypO_XgAE4Y-unsplash.jpg);
    background-attachment: fixed;
}
.kontainer {
    width: 500px;
    margin: 5em auto;
    padding: 2em;
    background: antiquewhite;
}
select, button {
    margin: 1em 0;
}