
body {
    background: #F9F6EB url("./bilder/photo-1577271015616-9b74c52daace.jpg") fixed;
    background-size: cover;
}
.kontainer {
    width: 700px;
    padding: 2em;
    margin: 3em auto;
    background: #fff;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    border: 2px solid #a0a0a0;
    color: #4e4e4e;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
form {
    text-align: center;
    margin: 40px;
}
table {
    width: 500px;
    border-collapse: collapse;
    margin: auto;
}
th {
    font-size: 30px;
}
td {
    padding: 5px;
}
tr:nth-child(even) {
    background: #CCC
}
tr:nth-child(odd) {
    background: #FFF
}
.kol2 {
    margin: 1em 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
}
.kol3 {
    margin: 1em 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1em;
}
label {
    text-align: right;
    align-self: center;
    font-size: 0.9em;
}
input, textarea {
    padding: 0.7em;
    border-radius: 0.3em;
    border: 1px solid #ccc;
    font-weight: bold;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
}
button {
    margin: 1em 0;
    padding: 0.7em;
    border-radius: 0.3em;
    border: none;
    font-weight: bold;
    color: #FFF;
    background-color: #55a5d2;
    cursor: pointer;
}
footer {
    background: #9b9b9b;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
}
footer img {
    width: 50px;
}