body {
    background: #e0e0e0;
}
h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}
.kontainer {
    width: 800px;
    padding: 2em;
    margin: 2em auto;
    background: #fff;
}
main {
    padding: 2em;
}
form {
    margin: 2em;
    padding: 2em;
    background: #e0e0e0;
    border-radius: 1em;
}